:root {
    --white: #fefefdff;
    --granny-smith-apple: #b2d996ff;
    --green-ryb: #6fb13fff;
    --dark-moss-green: #3f6524ff;
    --forest-green-traditional: #1d340dff;
}

.bg-white {
    background-color: var(--white);
}

.bg-white p,
.bg-white a,
.bg-white span {
    color: var(--forest-green-traditional);
}

.bg-white a:hover {
    color: var(--granny-smith-apple);
}

.bg-green {
    background-color: var(--green-ryb);
}

.bg-green p,
.bg-green a,
.bg-green span {
    color: var(--forest-green-traditional);
}

.bg-green a:hover {
    color: var(--granny-smith-apple);
}

ul#files {
    list-style: none;
    padding: 0;
    margin: 0;
}

.file {
    display: inline-block;
    padding: 1em;
    margin-bottom: 1em;
    background-color: var(--green-ryb);
    color: var(--forest-green-traditional);
    border-radius: 10px;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

.file:hover {
    color: var(--granny-smith-apple);
    transform: scale(1.1);
}

.file i {
    padding-right: 0.3em;
}

@media only screen and (width > 768px) {
    .file {
        max-width: 20em;
    }
}

a {
    color: var(--forest-green-traditional);
}

.video, .video > iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
}

section {
    margin-bottom: 2em;
}

section:first-of-type {
    margin-top: 2em;
}